{% comment %}
 <section class="center slider medium-down--hide">
  {% if settings.slide_1 %}
    <div>
      <a href="{{ settings.slide_1_link }}" class="vac">
        <img src="{{ 'gtshirt_01.png' | asset_url }}" alt="{{ settings.gtshirt_1_alt }}"/>
      </a>
    </div>
  {% endif %}
  {% if settings.slide_2 %}
    <div>
      <a href="{{ settings.slide_2_link }}" class="vac">
        <img src="{{ 'gtshirt_02.png' | asset_url }}" alt="{{ settings.slide_2_alt }}"/>
      </a>
    </div>
  {% endif %}
  {% if settings.slide_3 %}
    <div>
      <a href="{{ settings.slide_3_link }}" class="vac">
        <img src="{{ 'gtshirt_03.png' | asset_url }}" alt="{{ settings.slide_3_alt }}"/>
      </a>
    </div>
  {% endif %}
  {% if settings.slide_4 %}
    <div>
      <a href="{{ settings.slide_4_link }}" class="vac">
        <img src="{{ 'gtshirt_04.png' | asset_url }}" alt="{{ settings.slide_4_alt }}"/>
      </a>
    </div>
  {% endif %}
  {% if settings.slide_5 %}
    <div>
      <a href="{{ settings.slide_5_link }}" class="vac">
        <img src="{{ 'gtshirt_05.png' | asset_url }}" alt="{{ settings.slide_5_alt }}"/>
      </a>
    </div>
  {% endif %}
  {% if settings.slide_6 %}
    <div>
      <a href="{{ settings.slide_6_link }}" class="vac">
        <img src="{{ 'gtshirt_06.png' | asset_url }}" alt="{{ settings.slide_6_alt }}"/>
      </a>
    </div>
  {% endif %}
  {% if settings.slide_7 %}
    <div>
      <a href="{{ settings.slide_7_link }}" class="vac">
        <img src="{{ 'gtshirt_07.png' | asset_url }}" alt="{{ settings.slide_7_alt }}"/>
      </a>
    </div>
  {% endif %}
  {% if settings.slide_8 %}
    <div>
      <a href="{{ settings.slide_8_link }}" class="vac">
        <img src="{{ 'gtshirt_08.png' | asset_url }}" alt="{{ settings.slide_8_alt }}"/>
      </a>
    </div>
  {% endif %}
</section>
{% endcomment %}

<section id="homeautoslider" class="center slider">
  {% for product in collections.carousel.products limit:12%}
   <div>
    <a href="{{ product.url | within: collection }}" class="grid__image">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
     </a>
  </div>
  {% endfor %}
</section>